<div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group" id="categories">
                    <li class="list-group-item"><a href="/samsung">Samsung</a></li>
                    <li class="list-group-item"><a href="/sony">Sony</a></li>
                    <li class="list-group-item"><a href="/panasonic">Panasonic</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div id="products" class="row list-group">
                    
                    <div class="item col-xs-4 col-lg-4" id="TIVI LED PANASONIC 55 INCH TH-55DS630V">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="/images/task3/tivi-panasonic-th-55ds630v.jpg"
                                alt="">
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">TIVI LED PANASONIC 55 INCH TH-55DS630V
                                </h4>
                                <p class="group inner list-group-item-text">Product description... Lorem ipsum dolor sit
                                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                                    laoreet dolore magna aliquam erat volutpat.</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">16,990,000 VNĐ</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-success" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4" id="TIVI LED PANASONIC 40 INCH TH-40DS500V">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="/images/task3/tivi-led-panasonic-th-40ds500v.jpg"
                                alt="">
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">TIVI LED PANASONIC 40 INCH TH-40DS500V
                                </h4>
                                <p class="group inner list-group-item-text">Product description... Lorem ipsum dolor sit
                                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                                    laoreet dolore magna aliquam erat volutpat.</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">7,990,000 VNĐ</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-success" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4" id="TIVI LED PANASONIC 58 INCH TH-58DX700V">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="/images/task3/tivi-led-panasonic-th-58dx700v.jpg"
                                alt="">
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">TIVI LED PANASONIC 58 INCH TH-58DX700V
                                </h4>
                                <p class="group inner list-group-item-text">Product description... Lorem ipsum dolor sit
                                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                                    laoreet dolore magna aliquam erat volutpat.</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">28,490,000 VNĐ</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-success" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>